{% load static %}
<div class="container-fluid about bg-light">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 col-xl-5 d-none d-md-block wow fadeInLeft" data-wow-delay="0.1s">
                <div class="about-img">
                    <img src="{% static 'img/blog-2.jpg' %}" class="img-fluid w-100 rounded-bottom" alt="Image">
                    <img src="{% static 'img/about-2.jpg' %}" class="img-fluid w-100 rounded-top bg-white mb-3" alt="Image">
                </div>
            </div>
            <div class="col-lg-6 col-xl-7 wow fadeInRight" data-wow-delay="0.3s">
                <h4 class="text-primary">About Us</h4>
                <h1 class="display-5 mb-4">Leading Software Development Company</h1>
                <p class="text ps-4 mb-4">We specialize in delivering top-notch software solutions that drive business success. Our team of experts is dedicated to providing innovative and efficient services tailored to your needs.</p>
                <div class="row g-4 mb-5">
                    <div class="col-lg-6"></div>
                        <p class="text-dark"><i class="fas fa-check-circle text-primary me-1"></i> Software Development</p>
                        <p class="text-dark"><i class="fas fa-check-circle text-primary me-1"></i> Mobile App Development</p>
                        <p class="text-dark"><i class="fas fa-check-circle text-primary me-1"></i> System Integration</p>
                        <p class="text-dark"><i class="fas fa-check-circle text-primary me-1"></i> IT Consulting</p>
                        <p class="text-dark"><i class="fas fa-check-circle text-primary me-1"></i> Cloud Solutions</p>
                        <p class="text-dark"><i class="fas fa-check-circle text-primary me-1"></i> Web Development</p>
                        <p class="text-dark"><i class="fas fa-check-circle text-primary me-1"></i> E-commerce Solutions</p>
                        <p class="text-dark"><i class="fas fa-check-circle text-primary me-1"></i> Digital Marketing</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
