<style>
/* adjust these values as needed */
.service-img img {
    height: 218px;
    object-fit: cover;
    width: 100%;
}
.service-item {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.service-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 1rem;
}
.service-content .service-content-inner {
    flex: 1 1 auto;
}
</style>
{% load static%}
<div class="container-fluid service py-5">
        <div class="container py-5">
                <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
                {% if request.resolver_match.url_name != 'services' %}                        
                        <h4 class="text-primary">Our Services</h4>
                {% endif %}
                        <h1 class="display-4"> Offering the Best IT Consulting Services</h1>
                </div>
                <div class="row g-4 justify-content-center text-center align-items-stretch">
                        {% if service %}
                                {% for item in service %}

                        <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="service-item bg-light rounded h-100">
                                        <div class="service-img">
                                                <img src="{% if item.image_url %}{{item.image_url}}{% elif item.image %}{{item.image.url}}{% else %}{% static 'img/default_carousel.jpg' %}{% endif %}"
                                                 class="img-fluid rounded-top" alt="">
                                        </div>
                                        <div class="service-content text-center">
                                                <div class="service-content-inner">
                                                        <a href="#" class="h4 mb-4 d-inline-flex text-start">{{ item.name }}</a>
                                                        <p class="mb-4">{{ item.description }}</p>
                                                </div>
                                                {% comment %} <div>
                                                        <a class="btn btn-light rounded-pill py-2 px-4" href="#">Read More</a>
                                                </div> {% endcomment %}
                                        </div>
                                </div>
                        </div>

                                {% endfor %}
                        {% comment %} <div class="col-12">
                                <a class="btn btn-primary rounded-pill py-3 px-5 wow fadeInUp" data-wow-delay="0.1s" href="#">Services More</a>
                        </div> {% endcomment %}
                        {% else %}
                        <div class="col-12">
                                <h4 class="display-7 text-center"> No Services Found, Please add first !!! </h4>
                        </div>
                        {% endif %}
                </div>
        </div>
</div>