# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore Django migration files
# */migrations/*.py
# */migrations/*.pyc
# */migrations/__init__.py

# Ignore environment variable files
.env
*.env

# Ignore other common cache files
*.log
.vercel
.env*.local
