{% extends 'main/base.html' %}

{% block title %}
Our Services  | AmrDevs
{% endblock %}
{% load static%}
{% block body %}
        

        <!-- Header Start -->
        <div class="container-fluid bg-breadcrumb">
            <div class="bg-breadcrumb-single"></div>
            <div class="container text-center py-5" style="max-width: 900px;">
                <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Our Services</h4>
                <ol class="breadcrumb justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                    <li class="breadcrumb-item active text-primary">Service</li>
                </ol>    
            </div>
        </div>
        <!-- Header End -->

        <!-- Dynamic Services Start -->
        {% include 'main/components/service_carousel.html' %}
        <!--Dynamic Services End -->

        <!-- Dynamic Reviews Start -->
        {% include 'main/components/review_carousel.html' %}
        <!-- Dynamic Reviews End -->

        <!-- FAQ Start -->
        {% include 'main/components/faq_content.html' %}
        <!-- FAQ End -->

{% endblock %}
    